/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-summary {
  padding: 16px 20px;
  font-size: 15px;
}

.item-summary::before {
  background-image: url(/icons/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  content: "";
  float: right;
  height: 9px;
  width: 5px;
  margin: 16px 0;
}

.title,
.subtitle {
  line-height: 1.5;
  letter-spacing: 0.2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-size: 13px;
  font-weight: 400;
}
