/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.empty {
  white-space: pre-wrap;
  margin: 3em 1em;
  font-style: italic;
  text-align: center;
  color: #626262;
}

.item:nth-child(2n + 1) {
  background-color: #f1f1f1;
}

.item:nth-child(2n) {
  background-color: #f9f9fa;
}
