/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.empty {
  text-align: center;
  white-space: pre-wrap;
  padding: 40px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: #737373;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.item {
  color: #0c0c0d;
  border-bottom: 1px solid #d7d7db;
  background-color: #ffffff;
}
