/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.empty {
  white-space: pre-wrap;
  margin: 1em 1em;
  padding: 20px;
  text-align: center;
  color: #737373;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.item:nth-child(2n+1),
.item:nth-child(2n) {
  border-bottom: solid 0.5px #d7d7db;
  border-right: solid 0.5px #d7d7db;
}

.item:nth-child(2n+1) {
  background-color: #ededf0;
}

.item:nth-child(2n) {
  background-color: #f9f9fa;
}
