/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-summary {
  border-bottom: 1px solid #d7d7db;
  padding: .5em;
  font-size: 17px;
}

.arrow {
  float: right;
  padding: .5em;
  vertical-align: middle;
}

[data-selected] .arrow {
  display: none;
}

.title, .subtitle {
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 13px;
  font-weight: 400;
}
