{
  "presets": [
    "react",
    "stage-3",
    ["env", {
      "targets": {"browsers": ["firefox >= 56"]},
      "useBuiltins": true
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "rewire",
        "transform-runtime"
      ]
    }
  }
}
