{
  "presets": [
    "react",
    ["env", {"targets": {"browsers": ["firefox >= 54"]}}]
  ],
  "plugins": [
    ["transform-object-rest-spread", {"useBuiltins": true}]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "rewire",
        "transform-runtime"
      ]
    }
  }
}
