_aliases:
  - &node
    addons:
      firefox: latest
    language: node_js
    node_js: stable

cache:
  directories:
    - node_modules
cache: pip

sudo: required
jobs:
  include:
    - stage:
      language: python
      python: 3.6
      addons:
        firefox: latest-nightly
      apt:
        packages:
          - jwm
      env: TOXENV=integration-tests MOZ_HEADLESS=1 GECKODRIVER=0.20.1
      before_install:
        - wget -O /tmp/geckodriver.tar.gz https://github.com/mozilla/geckodriver/releases/download/v$GECKODRIVER/geckodriver-v$GECKODRIVER-linux64.tar.gz
        - mkdir $HOME/geckodriver && tar xvf /tmp/geckodriver.tar.gz -C $HOME/geckodriver
        - export PATH=$HOME/geckodriver:$PATH
        - firefox --version
        - geckodriver --version
      install:
        - nvm install node
        - pip install tox
      before_script:
        - npm install
        - npm run package
      script: tox
      after_success: skip
      before_deploy: skip
    - stage:
      language: python
      python: 3.6
      addons:
        firefox: latest-nightly
      apt:
        packages:
          - jwm
      env: TOXENV=accessibility MOZ_HEADLESS=1 GECKODRIVER=0.19.1
      before_install:
        - wget -O /tmp/geckodriver.tar.gz https://github.com/mozilla/geckodriver/releases/download/v$GECKODRIVER/geckodriver-v$GECKODRIVER-linux64.tar.gz
        - mkdir $HOME/geckodriver && tar xvf /tmp/geckodriver.tar.gz -C $HOME/geckodriver
        - export PATH=$HOME/geckodriver:$PATH
        - firefox --version
        - geckodriver --version
      install:
        - nvm install node
        - pip install tox
      before_script:
        - npm install
        - npm run package
      script: tox -e a11y
      after_success: skip
      before_deploy: skip
    - stage:
      language: python
      python: 3.6
      env: TOXENV=flake8
      install:
        - pip install tox
      script: tox
      after_success: skip
      before_deploy: skip
    - stage:
      <<: *node
      before_deploy: skip
    # Re-enable this when `documentation` updates to support Babel 7.
    # - stage: deploy
    #   if: branch = master
    #   <<: *node
    #   python: '3.6'
    #   script: skip
    #   deploy:
    #     edge:
    #       branch: v1.8.47
    #     provider: pages
    #     on:
    #       branch: master
    #     skip_cleanup: true
    #     local_dir: site
    #    github_token: $GITHUB_TOKEN
    # deploy tags to GitHub Releases
    - stage: deploy
      if: tag =~ ^\d.\d.\d
      <<: *node
      script: skip
      deploy:
        provider: releases
        on:
          tags: true
        skip_cleanup: true
        file_glob: true
        file: addon.xpi
        api_key: $GITHUB_TOKEN

script:
  - STRICT_LINT=1 npm run test
  - npx nsp check || true

after_success:
  - npm run codecov

before_deploy:
  - pip install --user mkdocs
  - npm run package
  # Re-enable this when `documentation` updates to support Babel 7.
  # - npm run doc
