/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  padding: 0;
  margin: 0;
  background-color: #f9f9fa;
}

.firstrun {
  width: 459px;
  margin: 3em auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
