/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.master-password-setup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
  margin: 1em auto;
  width: 306px;
}

.master-password-setup > * {
  margin: 0.5em 0;
}

.master-password-setup > h3 {
  font-size: 1em;
  width: auto;
  align-self: center;
}

.master-password-setup > .error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.master-password-setup > button {
  text-align: center;
  height: 3em;
}
