/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.welcome > h1,
.welcome > p {
  text-align: center;
}
.welcome > h1 {
  font-size: 2em;
  font-weight: normal;
}
