/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.button {
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 1.5;
  border: 0;
}

.button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.button:focus {
  box-shadow: inset 0 0 0 2px #0a84ff, 0 0 0 3px rgba(10, 132, 255, 0.3);
}

.button::-moz-focus-inner {
  border: none;
}

.primary-theme {
  min-width: 80px;
  color: #ffffff;
  background-color: #0060df;
}

.normal-theme {
  min-width: 80px;
  color: #0c0c0d;
  background-color: rgba(12, 12, 13, 0.1);
}

.ghost-theme {
  color: #0c0c0d;
  background-color: transparent;
}

.link-theme {
  color: #0060df;
  background-color: transparent;
}

.link-theme:global(.external)::after {
  background-image: url(/icons/external-link.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin: -.3rem .15rem 0 .25rem;
  vertical-align: middle;
  width: 16px;
}

.primary-theme:not([disabled]):hover {
  background-color: #003eaa;
}

.normal-theme:not([disabled]):hover,
.ghost-theme:not([disabled]):hover {
  background-color: rgba(12, 12, 13, 0.2);
}

.primary-theme:not([disabled]):active:hover {
  background-color: #002275;
}

.normal-theme:not([disabled]):active:hover,
.ghost-theme:not([disabled]):active:hover {
  background-color: rgba(12, 12, 13, 0.3);
.link-theme:active {
  color: #003eaa;
  text-decoration: underline;
}

.link-theme:hover {
  color: #0060df;
  text-decoration: underline;
  background-color: transparent;
}

.link-theme:focus {
  color: #0060df;
  border-color: #0a84ff
}

.puffy-size {
  height: 48px;
  padding: 0 16px;
  font-size: 15px;
  border-radius: 4px;
}

.normal-size {
  height: 32px;
  padding: 0 8px;
  font-size: 13px;
  border-radius: 2px;
}

.micro-size {
  height: 24px;
  padding: 0 8px;
  font-size: 11px;
  border-radius: 2px;
}
