/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button,
.button {
  color: #222426;
}

button.button {
  white-space: nowrap;
  /* Override the margin-bottom from browser-style. */
  margin-bottom: 0;
  text-align: center;
}

button.minimal {
  /* Override the browser-style borders. */
  border: 0 !important;
}
