/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.modal-dialog {
  padding: 1em;
  font-size: 15px;
  text-align: center;
}

.modal-dialog > menu {
  margin: 1em 0 0 0;
  padding: 0;
}

.modal-dialog > menu > button + button {
  margin-inline-start: 1ch;
}
