/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  background: #ededf0;
  height: 54px;
  padding: 0 12px;
  border-bottom: 1px solid rgba(12, 12, 13, 0.3);
}

.panel-header > span {
  flex: 1;
  text-align: center;
}

.panel-body {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ededf0;
}

.panel-footer {
  display: flex;
  align-items: center;
  min-height: 40px;
  border-top: 1px solid rgba(12, 12, 13, 0.3);
}

.panel-footer-button {
  flex: 1;
  height: 40px;
  padding: 0 16px;
  font-size: 13px;
}

.panel-footer-button:focus {
  box-shadow: inset 0 0 0 2px #0a84ff;
}

.panel-footer-button + .panel-footer-button {
  border-inline-start: 1px solid rgba(12, 12, 13, 0.3);
}

.primary-theme {
  color: #ffffff;
  background-color: #0060df;
  /* This color is the equivalent of #0060df overlaid by
     rgba(12, 12, 13, 0.3). */
  box-shadow: 0 -1px #03469e;
}

.primary-theme:focus {
  box-shadow: 0 -1px #03469e, inset 0 0 0 2px #0a84ff;
}

.normal-theme {
  color: #262626;
  background-color: #f9f9fa;
}

.primary-theme:not([disabled]):hover {
  background-color: #003eaa;
}

.normal-theme:not([disabled]):hover {
  background-color: #d7d7db;
}

.primary-theme:not([disabled]):active:hover {
  background-color: #002275;
}

.normal-theme:not([disabled]):active:hover {
  background-color: #b1b1b3;
}
