/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.password-input {
  display: flex;
}

.password-input > span {
  flex: 1;
  /* Override the margin-bottom from browser-style. */
  margin-bottom: 0;
}

.password-input > span > input {
  width: 100%;
}

.password-input > button {
  margin-inline-start: -1px;
  /* Override the margin-bottom from browser-style. */
  margin-bottom: 0;
}

/* The following rules are adapted from Firefox's browser styles. */

.password-input input[type="password"] {
  background-color: #fff;
  border: 1px solid #b1b1b1;
  box-shadow: 0 0 0 0 rgba(97, 181, 255, 0);
  font: caption;
  padding: 0 6px 0;
  transition-duration: 250ms;
  transition-property: box-shadow;
}

.password-input input[type="password"] {
  height: 24px;
}

.password-input input[type="password"].disabled {
  color: #999;
  opacity: .5;
}

.password-input input[type="password"]:not(disabled):hover {
  border: 1px solid #858585;
}

.password-input input[type="password"]:focus,
.password-input input[type="password"]:focus:hover {
  border-color: #0996f8;
  box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}
