/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.scrolling-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.scrolling-list:-moz-focusring {
  outline-style: none;
}

.scrolling-list > li[data-selected] {
  color: InactiveCaptionText;
  background-color: InactiveCaption;
}

.scrolling-list:focus > li[data-selected] {
  color: HighlightText;
  background-color: Highlight;
}
