/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.unlock-prompt {
  margin: 1em;
}

.unlock-prompt > form {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.unlock-prompt > form > p {
  flex: 1;
}

.password-input {
  margin-bottom: 1em;
}
