# lockbox-extension code owners
# https://help.github.com/articles/about-codeowners/

# tests should also be reviewed by @m8ttyB
/test/    @jimporter @m8ttyB

# docs are shepherded by @devinreams
/docs/    @jimporter @devinreams

# include Flod for l10n string changes
# @todo uncomment below after initial string freeze
#src/webextension/locales/en-US/*.ftl    @flodolo

# otherwise, everything is to be reviewed by @jimporter
*         @jimporter
