/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body,
body > main,
.app {
  height: 100%;
}

.app-main {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
}

.side-toolbar,
.main-toolbar {
  background-color: #f9f9f9;
  border-bottom: 1px solid #d6d6d6;
}

.side-toolbar {
  padding-inline-end: 0;
}

.main-toolbar {
  padding-inline-start: 0;
}

.app-main > aside {
  grid-column: 1;
  min-width: 0;
  min-height: 0;
  background-color: #e6e6e6;
  border-right: 1px solid #e1e1e1;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app-main > article {
  grid-column: 2;
  background-color: #f9f9f9;
}
