/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  width: 100vw;
  height: 100vh;
}

.app > aside {
  grid-column: 1;
  background-color: #f9f9fa;
  padding: 0 
}

.app > article {
  grid-column: 2;
}
