/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body,
#content {
  height: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 1em;
}

.side-toolbar {
  background-color: #f9f9fa;
  padding-inline-end: 0;
}

.main-toolbar {
  padding-inline-start: 0;
}

.app > aside {
  grid-column: 1;
  min-width: 0;
  background-color: #f9f9fa;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app > article {
  grid-column: 2;
}
