/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.homepage {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.25em;
  justify-content: center;
  margin: 3em auto;
  width: 701px;
}

.homepage h1 {
  color: #0c0c0d;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
}

.homepage p {
  color: #0c0c0d;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 1.5;
  text-align: left;
  white-space: pre-line;
}
