/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-details {
  display: grid;
  grid-template-columns: max-content minmax(225px, max-content);
  grid-column-gap: 1em;
  grid-row-gap: 6px;
  margin: 1em;
}

.item-details > label,
.item-details > .field {
  display: contents;
}

.item-details > label > *:first-child,
.item-details > .field > *:first-child {
  grid-column: 1;
}

.item-details > .buttons {
  grid-column: 2;
}

.item-details .text {
  /* This lines up our labels with the text in <input> elements. */
  margin-top: 3.5px;
  height: 20.5px;
}

.item-details > .field > .text + * {
  margin-inline-start: 7px;
}

.item-details textarea {
  resize: none;
}

.buttons > button + button {
  margin-inline-start: 1ch;
}

.inline-button {
  display: flex;
}

.inline-button > *:first-child {
  flex: 1;
}
