/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-details {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 3px;
  margin: 2em;
  max-width: 320px;
}

.item-details > label,
.item-details > .field {
  display: contents;
}

.item-details textarea {
  resize: none;
}

.label-text {
  margin-inline-start: 7px;
  margin-top: 0.5em;
}

.field-text {
  /* This lines up our labels with the text in <input> elements. */
  margin-top: 3.5px;
  min-height: 20.5px;
  margin-inline-start: 7px;
}

.inline-button {
  display: flex;
}

.inline-button > *:first-child {
  flex: 1;
  overflow: hidden;
  overflow-wrap: break-word;
}

.buttons {
  border-top: 1px solid #d6d6d6;
  margin-top: 1em;
  padding: 1em 0;
}
